@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

:root {
    font-size: 1rem;
    --green: #32b87c;
}

body {
    font-family: "Open Sans", sans-serif;
    background-color: #f6f6f6;
}

.navbar-brand:hover {
    color: var(--green);
}

.font-logo {
    font-family: "Lobster", sans-serif;
    color: var(--green);
    font-size: 1.5rem;
}

.nav-bg {
    background-color: #fff;
}

.black {
    color: #000;
}

.small {
    font-size: 10px;
}

ul li a:hover {
    color: var(--green) !important;
}

.dropdown-item:hover {
    background-color: var(--green);
    color: #fff !important;
}
